@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashBoard"] = true;
}
<div class="row mb-4">
    <div class="col-md-4">

        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Balance</span>
                <h1 class="display-6 fw-bold">@ViewBag.Balance</h1>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">Expense by Category</div>
        </div>
    </div>
    <div class="col-md-8">
        <ejs-accumulationchart id="donutChart" enableSmartLabels  background="#1a222b">
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@ViewBag.DonutChartData"
                                       xName="categoryTitleWithIcon"
                                       yName="amount"
                                       innerRadius="60%"
                                       legendShape="Circle"
                                       >

                    <e-accumulationseries-datalabel name="formatterAmount" visible="true"></e-accumulationseries-datalabel>

                </e-accumulation-series>

                
            </e-accumulation-series-collection>
       
        <e-accumulationchart-legendsettings position="Top"></e-accumulationchart-legendsettings>
        </ejs-accumulationchart>

        @* toggle visiblity to disbale toggle *@
    </div>

</div>